<section class="news">
    <div class="container">
        <h2 class="news-title">Contents Strategies</h2>
        <p class="news-text">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
        <ul class="news-list">
            <li class="news-item">
                <img src="./images/workplace-min.png" alt="workplace">
                <div class="news-info-box">
                    <h3 class="news-item-subtitle">By <span class="accent">Wahid Ari</span> | 03 March 2019</h3>
                    <p class="news-item-text">Increasing Prosperity With Positive Thinking</p>
                    </divc>
            </li>
            <li class="news-item">
                <img src="./images/office-min.png" alt="office">
                <div class="news-info-box">
                    <h3 class="news-item-subtitle">By <span class="accent">Wahid Ari</span> | 03 March 2019</h3>
                    <p class="news-item-text">Motivation Is The First Step To Success</p>
                    </divc>
            </li>
            <li class="news-item">
                <img src="./images/builds.png" alt="builds">
                <div class="news-info-box">
                    <h3 class="news-item-subtitle">By <span class="accent">Wahid Ari</span> | 03 March 2019</h3>
                    <p class="news-item-text">Success Steps For Your Personal Or Business</p>
                    </divc>
            </li>
        </ul>
    </div>
</section>