<section class="price">
    <div class="container">
        <h2 class="price-title">Price Table</h2>
        <p class="price-text">We offer competitive price</p>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="price-item-subtitle">Free</h3>
                <p class="price-item-text">Brief price description</p>
                <div class="price-box">
                    <span class="price-box-title">0</span>
                    <div class="price-subbox">
                        <span class="dolar">$</span>
                        <p class="per-month">Per / month</p>
                    </div>
                </div>
                <ul class="price-sublist">
                    <li class="price-subitem">
                        <p>Only 2 Operators</p>
                    </li>
                    <li class="price-subitem">
                        <p>Notifications</p>
                    </li>
                    <li class="price-subitem">
                        <p>Landing Pages</p>
                    </li>
                </ul>
                <button class="price-btn" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-subtitle">Standard</h3>
                <p class="price-item-text">Brief price description</p>
                <div class="price-box">
                    <span class="price-box-title">5</span>
                    <div class="price-subbox">
                        <span class="dolar">$</span>
                        <p class="per-month">Per / month</p>
                    </div>
                </div>
                <ul class="price-sublist">
                    <li class="price-subitem">
                        <p>5+ Operators</p>
                    </li>
                    <li class="price-subitem">
                        <p>Notifications</p>
                    </li>
                    <li class="price-subitem">
                        <p>Landing Pages</p>
                    </li>
                </ul>
                <button class="price-btn" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-subtitle">Premium</h3>
                <p class="price-item-text">Brief price description</p>
                <div class="price-box">
                    <span class="price-box-title">10</span>
                    <div class="price-subbox">
                        <span class="dolar">$</span>
                        <p class="per-month">Per / month</p>
                    </div>
                </div>
                <ul class="price-sublist">
                    <li class="price-subitem">
                        <p>10+ Operators</p>
                    </li>
                    <li class="price-subitem">
                        <p>Notifications</p>
                    </li>
                    <li class="price-subitem">
                        <p>Landing Pages</p>
                    </li>
                </ul>
                <button class="price-btn" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>