<section class="stuff">
    <div class="container">
        <h2 class="stuff-title">Quick & Easy Process</h2>
        <p class="stuff-text">Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, Ux/UI?</p>
        <ul class="stuff-list">
            <li class="stuff-item">
                <img src="./images/woman.png" alt="woman" width="98">
                <p class="stuff-item-text">I can take care of your pitch</p>
            </li>
            <li class="stuff-item">
                <p class="stuff-item-text">I can prototype your app</p>
                <img src="./images/woman-2.png" alt="woman 2" width="98">
            </li>
            <li class="stuff-item">
                <p class="stuff-item-text">I can take care of your pitch</p>
                <img src="./images/young-man.png" alt="man" width="98">
            </li>
            <li class="stuff-item">
                <img src="./images/man-2.png" alt="man 2" width="98">
                <p class="stuff-item-text">I can help marketing strategy</p>
            </li>
        </ul>
        <button class="stuff-btn" type="button">Contact our expert</button>
    </div>
</section>