<section class="support">
    <div class="container">
        <svg class="hero-svg" width="540" height="500">
            <use href="./images/icons.svg#icon-support"></use>
        </svg>
        <div class="support-text-wrap">
            <h2 class="support-subtitle">
                <span class="small-title">Easier decision making for</span> Customer Support
            </h2>
            <p class="support-text">The Myspace page defines the individual, his or her characteristics, traits,
                personal choices and the overall
                personality of the person.</p>
            <ul class="support-list">
                <li class="support-item">
                    <div class="support-icon-box icon-bg-yelow">
                        <svg class="product-icon" width="16" height="12">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </div>
                    <p class="support-item-text">Never worry about overpaying for your energy again.</p>
                </li>
                <li class="support-item">
                    <div class="support-icon-box icon-bg-red">
                        <svg class="product-icon" width="16" height="12">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </div>
                    <p class="support-item-text">We will only switch you to energy companies that we trust and will
                        treat you right</p>
                </li>
                <li class="support-item">
                    <div class="support-icon-box icon-bg-blue">
                        <svg class="product-icon" width="16" height="12">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </div>
                    <p class="support-item-text">We track the markets daily and know where the savings are.</p>
                </li>
            </ul>
        </div>
    </div>
</section>